<div class="section">
	<h1>hug&#x2022;bomb</h1>
	<h3>/'h&#x0259;gb&auml;m/</h3>
	<p><em>verb</em></p>
	<p>1. to show gratitude or appreciation for an act of kindness on the internets</p>
</div>

<div class="section">
	<h2>rules of engagement</h2>
	<ul>
		<li>don't hugbomb to publicize content, products, or people</li>
		<li>don't do anything illegal</li>
		<li>don't be mean</li>
	</ul>
</div>

<div class="section">
	<h2>ready to kill it with love?</h2>
	<p>sign-up coming soon...</p>
</div>

<div class="section">
	<p>hug us on <a href="https://github.com/alexander-jiang/hugbomb">github</a></p>
</div>
