<div>
	<h1>hug&#x2022;bomb</h1>
	<h3>/'h&#x0259;gb&auml;m/</h3>
	<p><em>verb</em></p>
	<p>1. to show gratitude or appreciation for an act of kindness on the internets</p>
</div>

<div>
	<h2>rules of engagement</h2>
	<p>don't hugbomb to publicize content, products, or people</p>
	<p>don't do anything illegal</p>
	<p>don't be mean</p>
</div>

<div>
	<p>ready to kill it with love?</p>
	<p>sign-up coming soon...</p>
</div>

<div>
	<p><a href="https://github.com/alexander-jiang/hugbomb">git-hug us</a></p>
</div>
