<div class="center jumbotron">
	<div class="section">
		<h1>hug&#x2022;bomb <small>/'h&#x0259;gb&auml;m/</small></h1>
		<p><em>verb</em></p>
		<p>1. to show gratitude or appreciation for an act of kindness on the internets</p>
		<h4><small>hug, possibly from the Old Norse <em>hugga</em>, "to comfort"</small></h4>
		<h4><small>bomb, from the French <em>bombe</em>, from Italian <em>bomba</em>, from Latin <em>bombus</em></small></h4>
		<h4><small><a href="http://www.etymonline.com/index.php?allowed_in_frame=0&search=hug+bomb&searchmode=or">etymology source</a></small></h4>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body section">
		<h2>rules of engagement</h2>
		<ul>
			<li>don't hugbomb to publicize content, products, or people</li>
			<li>don't do anything illegal</li>
			<li>don't be mean</li>
		</ul>
	</div>
</div>

<div class="section">
	<h2>ready to kill it with love?</h2>
	<%= link_to 'sign-up coming soon...', '#', class: 'btn btn-default' %>
</div>

<div class="section">
	<p>hug us on <%= link_to 'github', 'https://github.com/alexander-jiang/hugbomb' %></p>
</div>
